<?xml version="1.0"?>
<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" />
    <node pkg="exploring_turtlesim" type="SpawnAdditionalTurtles.py" name="Multiple_Turtles_Spawner2" output="screen" >
        <param name="starting_x" value="-2" />
        <param name="starting_y" value="-2" />
    </node>
</launch>